<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Contact</h1>
    <div class="col-md-6 offset-md-3">
        <table>
            <tr>
                <th>Name</th>
                <th>location</th>
                <th>phoneno</th>
                <th>email</th>
                <th>message</th>
              </tr>
        <% contacts.forEach(function(row){ %>
            <tr>
                <td><%= row.title %></td>
                <td><%= row.location %></td>
                <td><%= row.phoneno %></td>
                <td><%= row.email %></td>
                <td><%= row.message %></td>
               
              </tr>
            <% }) %>
        </table>
    </div>
</div>
